* {
    box-sizing: border-box;
}

body {
    font-family: $font-text;
    font-size: $font-size;
    line-height: 1.42857143;
    color: black;
    }

img {
    max-width: 100%;
    height: auto;
}

.container--restaurants {
    background-color: $color-quaternary;
}
                    
a {
    text-decoration: none;
    color: black
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}