.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    position:fixed;
    margin-top:90px;
    inset: 0;
    opacity:0;
    animation:5s 
    hide 1;
    
    .loader__img {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        width: 40%;
    }
    
    .loader__text {
        width: 100%;
        display: flex;
       justify-content: center;
       align-items: center;
        .loader__animation {
        position: relative;
        z-index: 2;
        font-family: $font-title;
        font-size: $font-size +60;
        background:linear-gradient($color-secondary,$color-primary);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
        -webkit-animation: loader 800ms linear;
        animation: loader 800ms linear 300ms; 
    }
    }  
        }

    

.container--index {
    opacity:1;
    animation :show 5s 1;
    }

.info {
    text-align: center;
    font-family: $font-text;
    margin-bottom: 20px;

    .info__location {
        background-color: $color-quinary;
        box-shadow: inset 0px 3px 7px rgb(168, 165, 165);
        padding: 10px;
    }

    .info__ico {
        padding: 30px;
        width: 10%;
    }

    .info__help {
        position: absolute;
        visibility: hidden;
    }

    .info__city {
        background-color: $color-quinary;
        border: 1px solid $color-quinary;
    }

    .info__presentation {
        background-color: $color-quaternary;
        padding: 10px 0px 0px 0px;
    }

    .info__title {
        font-weight: bolder;
        font-size: $font-size +10;
        padding: 0px 60px;
    }

    .info__text {
        font-size: $font-size +2;
        padding: 0px 20px;
    } 
}

.functioning {
    padding: 10px 24px 20px 30px;

    h2 {
        font-weight: bold;
    }
   
    .functioning__choice {
        @extend %functioning;
        @extend %functioning-hover;
       
    }

    .functioning__compose {
        @extend %functioning;
        @extend %functioning-hover;
    }

    .functioning__taste {
        @extend %functioning;
        @extend %functioning-hover;
    } 
}

.restaurants {
    padding: 15px;
    background-color: $color-quaternary;

   

    .restaurants__global {
        display: flex;
        flex-direction: column;
    }

    .restaurants__img {
        position: relative;
        width: 100%;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        display: block;
    }

    .restaurants__new {
        position: absolute;
        right: 30px;
        margin-top: 10px;
        padding: 4px 6px 4px 6px;
        background-color: $color-tertiary;
        color: #008766;
        font-weight: bold;
    }

    .restaurants__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0px 15px 15px 15px;
        margin-bottom: 20px;
        box-shadow: 0px 5px 5px #d2cfcf;
    }

    .restaurants__body {
        line-height: 0.5;
    }

    .restaurants__love {
        .restaurants__solid {
            position: absolute;
            visibility: hidden;
            transform: scale(1);
            transition: transform 400ms;
        }
        .restaurants__regular {
            position: relative;
        }
    &:hover {
        cursor: pointer;
        .restaurants__regular {
            visibility: hidden;
        }
        .restaurants__solid {
            visibility: visible;
            background:linear-gradient($color-primary,$color-secondary);
            background-clip:text;
            -webkit-background-clip:text;
            color:transparent;
            transform: scale(1.09);
        }
    }    

    }
}
