/* Error: Undefined variable.
 *     ,
 * 136 |                 background-image: linear-gradient($color-secondary, $colr-primary);
 *     |                                                                     ^^^^^^^^^^^^^
 *     '
 *   sass\pages\_index.scss 136:69  @import
 *   sass\main.scss 5:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 136 \2502                  background-image: linear-gradient($color-secondary, $colr-primary);\d\a     \2502                                                                      ^^^^^^^^^^^^^\a     \2575 \a   sass\\pages\\_index.scss 136:69  @import\a   sass\\main.scss 5:9             root stylesheet";
}
