.order .button {
  display: inline-block;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 20px;
  color: white;
  padding: 10px 30px;
  box-shadow: 0px 5px 5px #d2cfcf;
  transform: scale(1);
  transition: transform 400ms;
}
.order .button:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: opacity(70%) drop-shadow(0px 8px 8px #c1bcbc);
}

.functioning .functioning__taste, .functioning .functioning__compose, .functioning .functioning__choice {
  display: flex;
  /*align-content: flex-start;*/
  background-color: #F6F6F6;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px 10px 10px 0px;
  font-weight: bold;
  box-shadow: 0px 5px 5px #e0dddd;
  transform: scale(1);
  transition: transform 400ms;
}
.functioning .functioning__taste .functioning__number, .functioning .functioning__compose .functioning__number, .functioning .functioning__choice .functioning__number {
  color: white;
  border-radius: 20px;
  background-color: #9356DC;
  min-width: 22px;
  height: 22px;
  text-align: center;
  margin: 0px 20px 0px -8px;
}
.functioning .functioning__taste .functioning__color, .functioning .functioning__compose .functioning__color, .functioning .functioning__choice .functioning__color {
  color: grey;
  margin-right: 30px;
}

.functioning .functioning__taste:hover, .functioning .functioning__compose:hover, .functioning .functioning__choice:hover {
  cursor: pointer;
  transform: scale(1.01);
  background-color: #F5EDFF;
}
.functioning .functioning__taste:hover .functioning__color, .functioning .functioning__compose:hover .functioning__color, .functioning .functioning__choice:hover .functioning__color {
  color: #9356DC;
}

.meal .meal__global .meal__restaurant .meal__card:hover .meal__description .meal__detail, .meal .meal__global .meal__restaurant .meal__card:hover .meal__description .meal__name, .meal .meal__global .meal__restaurant .meal__card:hover .meal__description, .meal .meal__global .meal__restaurant .meal__card .meal__description .meal__detail, .meal .meal__global .meal__restaurant .meal__card .meal__description .meal__name, .meal .meal__global .meal__restaurant .meal__card .meal__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meal .meal__global .meal__restaurant .meal__card:nth-of-type(4), .meal .meal__global .meal__restaurant .meal__card:nth-of-type(3), .meal .meal__global .meal__restaurant .meal__card:nth-of-type(2), .meal .meal__global .meal__restaurant .meal__card:nth-of-type(1) {
  -webkit-animation: menu 1s linear;
  animation: menu 1s linear;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.hide {
  margin: 0px;
}

.container--menu {
  background-color: #F6F6F6;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
}

/*Header + Footer*/
header .header__contend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
header .header__contend a {
  display: block;
}
header .header__arrow {
  position: absolute;
  left: 0;
  margin-left: 10px;
}
header .header__arrow a {
  display: block;
}
header .header__logo {
  width: 250px;
  margin: 10px 10px;
}

footer .footer__contend {
  background-color: black;
  color: white;
  padding: 20px 20px;
}
footer .footer__contend a {
  display: block;
}
footer .footer__logo {
  width: 130px;
  filter: invert(100%);
  margin-top: 10px;
  margin-bottom: 10px;
}
footer .footer__nav {
  color: white;
  display: block;
}
footer .footer__text {
  line-height: 1.7;
}

/*End Footer + Header */
/*Header Page menu*/
.presentation {
  position: relative;
}
.presentation .presentation__frame {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.presentation .presentation__img {
  object-fit: cover;
  width: 100%;
  height: 290px;
}
.presentation .presentation__global {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  margin-top: -55px;
  padding: 15px 35px 0px 15px;
}
.presentation .presentation__global h1 {
  font-family: "Shrikhand", cursive;
}
.presentation .presentation__global .presentation__love .presentation__solid {
  position: absolute;
  visibility: hidden;
  transform: scale(1);
  transition: transform 400ms;
}
.presentation .presentation__global .presentation__love .presentation__regular {
  position: relative;
}
.presentation .presentation__global .presentation__love:hover {
  cursor: pointer;
}
.presentation .presentation__global .presentation__love:hover .presentation__regular {
  visibility: hidden;
}
.presentation .presentation__global .presentation__love:hover .presentation__solid {
  visibility: visible;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.09);
}

/*End Header Page menu */
/*Menu*/
.meal {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 35px;
}
.meal h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: lighter;
}
.meal h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #99E2D0;
}
.meal .meal__global .meal__restaurant .meal__card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 5px #e0dddd;
  padding: 5px 15px;
  position: relative;
  overflow: hidden;
}
.meal .meal__global .meal__restaurant .meal__card .meal__description {
  display: flex;
  flex-direction: column;
}
.meal .meal__global .meal__restaurant .meal__card .meal__description .meal__name {
  margin: 0px;
}
.meal .meal__global .meal__restaurant .meal__card .meal__choice {
  display: flex;
}
.meal .meal__global .meal__restaurant .meal__card .meal__choice .meal__price {
  display: flex;
  align-self: flex-end;
  position: relative;
  font-weight: bold;
  width: 40px;
  transition: all 0.3s linear 0s;
}
.meal .meal__global .meal__restaurant .meal__card .meal__choice .meal__check {
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 60px;
  width: 0px;
  position: absolute;
  visibility: hidden;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.3s linear 0s;
}
.meal .meal__global .meal__restaurant .meal__card .meal__choice .meal__check .fa-solid {
  -webkit-transition: -webkit-transform 0.9s;
  transition: transform 0.9s;
}
.meal .meal__global .meal__restaurant .meal__card:hover {
  cursor: pointer;
}
.meal .meal__global .meal__restaurant .meal__card:hover .meal__description {
  width: 200px;
}
.meal .meal__global .meal__restaurant .meal__card:hover .meal__description .meal__name {
  width: 200px;
}
.meal .meal__global .meal__restaurant .meal__card:hover .meal__description .meal__detail {
  width: 200px;
}
.meal .meal__global .meal__restaurant .meal__card:hover .meal__choice .meal__check {
  visibility: visible;
  width: 60px;
}
.meal .meal__global .meal__restaurant .meal__card:hover .meal__choice .meal__check .fa-solid {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.meal .meal__global .meal__restaurant .meal__card:hover .meal__choice .meal__price {
  width: 100px;
}
.meal .meal__global .meal__restaurant .meal__card:nth-of-type(2) {
  animation-delay: 0.1s;
}
.meal .meal__global .meal__restaurant .meal__card:nth-of-type(3) {
  animation-delay: 0.2s;
}
.meal .meal__global .meal__restaurant .meal__card:nth-of-type(4) {
  animation-delay: 0.3s;
}

.order {
  text-align: center;
}
.order .button {
  margin-bottom: 50px;
}

/*End Menu*/
/* Tablette */
@media screen and (min-width: 768px) {
  /*Header Page menu*/
  .presentation .presentation__global {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .presentation .presentation__global h1 {
    margin-right: 40px;
  }
  /*Menu*/
  .menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .menu .meal {
    width: 380px;
  }
}
/*End Tablette*/
/* Desktop */
@media screen and (min-width: 992px) {
  /*Menu*/
  .menu .meal {
    width: 400px;
  }
}
/*End Desktop*/
/*Loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  inset: 0;
  opacity: 0;
  animation: 5s hide 1;
  z-index: -9999;
}
.loader .loader__img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 250px;
}
.loader .loader__img img {
  width: 100%;
}
.loader .loader__text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  position: relative;
  font-family: "Shrikhand", cursive;
  font-size: 36px;
  background: linear-gradient(45deg, #FF79DA, 60%, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-animation: loader 800ms linear;
  animation: loader 800ms linear;
}

.container--index {
  opacity: 1;
  animation: show 5s 1;
}

/*End Loader */
/* Information */
.info {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.info .info__location {
  background-color: #EAEAEA;
  box-shadow: inset 0px 3px 7px rgb(168, 165, 165);
  padding: 10px;
}
.info .info__ico {
  padding: 30px;
  width: 10%;
}
.info .info__help {
  position: absolute;
  visibility: hidden;
}
.info .info__city {
  background-color: #EAEAEA;
  border: 1px solid #EAEAEA;
}
.info .info__presentation {
  background-color: #F6F6F6;
  padding: 10px 0px 0px 0px;
}
.info .info__title {
  font-weight: bolder;
  font-size: 26px;
  padding: 0px 60px;
}
.info .info__text {
  font-size: 18px;
  padding: 0px 20px;
  margin-bottom: 20px;
}

/*End Information */
/*Functioning*/
.functioning {
  padding: 10px 24px 20px 30px;
}
.functioning h2 {
  font-weight: bold;
}
.functioning .functioning__choice a {
  display: block;
}
.functioning .functioning__compose a {
  display: block;
}
.functioning .functioning__taste a {
  display: block;
}

/*End Functioning*/
/*Restaurants*/
.restaurants {
  padding: 15px 15px;
  background-color: #F6F6F6;
  width: 100%;
}
.restaurants .restaurants__card a {
  display: block;
  width: 100%;
}
.restaurants .restaurants__card .restaurants__global {
  display: flex;
  flex-direction: column;
  position: relative;
}
.restaurants .restaurants__card .restaurants__global .restaurants__img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  display: block;
}
.restaurants .restaurants__card .restaurants__global .restaurants__new {
  position: absolute;
  right: 30px;
  margin-top: 10px;
  padding: 4px 6px 4px 6px;
  background-color: #99E2D0;
  color: #008766;
  font-weight: bold;
}
.restaurants .restaurants__card .restaurants__global .restaurants__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0px 15px 15px 15px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 5px #d2cfcf;
}
.restaurants .restaurants__card .restaurants__global .restaurants__body {
  line-height: 0.5;
}
.restaurants .restaurants__card .restaurants__global .restaurants__love .restaurants__solid {
  position: absolute;
  visibility: hidden;
  transform: scale(1);
  transition: transform 400ms;
}
.restaurants .restaurants__card .restaurants__global .restaurants__love .restaurants__regular {
  position: relative;
}
.restaurants .restaurants__card .restaurants__global .restaurants__love:hover {
  cursor: pointer;
}
.restaurants .restaurants__card .restaurants__global .restaurants__love:hover .restaurants__regular {
  visibility: hidden;
}
.restaurants .restaurants__card .restaurants__global .restaurants__love:hover .restaurants__solid {
  visibility: visible;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.09);
}

/*End Restaurants */
/* Tablette */
@media screen and (min-width: 768px) {
  /*Loader*/
  .loader .loader__img {
    width: 400px;
  }
  .loader .loader__text {
    font-size: 56px;
  }
  /*Restaurants*/
  .restaurants {
    padding-left: 30px;
    padding-right: 30px;
  }
  .restaurants h2 {
    text-align: center;
    background: -webkit-linear-gradient(45deg, #FF79DA, #9356DC);
    color: white;
    border-radius: 20px;
    margin-top: 0px;
  }
  .restaurants .restaurants__card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurants .restaurants__card a {
    width: 48%;
  }
  .restaurants .restaurants__card .restaurants__global {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurants .restaurants__card .restaurants__global .restaurants__img {
    width: 100%;
  }
  /*Footer*/
  footer .footer__contend {
    text-align: center;
  }
}
/*End Tablette*/
/*Desktop */
@media screen and (min-width: 992px) {
  /*Loader*/
  .loader .loader__img {
    width: 500px;
  }
  .loader .loader__text {
    font-size: 76px;
  }
  /*Information + Functioning */
  .index__presentation {
    display: flex;
    width: 100%;
    position: relative;
    background-color: #F6F6F6;
  }
  .index__presentation .info {
    width: 100%;
  }
  .index__presentation .info .info__location {
    width: 100%;
  }
  .index__presentation .info .info__presentation {
    width: 45%;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 50px;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
  }
  .index__presentation .info .info__presentation .info__title {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .index__presentation .functioning {
    position: absolute;
    margin-right: 20px;
    width: 45%;
    padding-top: 0px;
    padding-bottom: 15px;
    border-radius: 50px;
    margin-top: 60px;
    right: 0;
    background-color: white;
  }
  .index__presentation .functioning h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /*Restaurants*/
  .restaurants {
    padding-left: 20px;
    padding-right: 20px;
  }
  .restaurants .restaurants__card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurants .restaurants__card a {
    width: 25%;
  }
  .restaurants .restaurants__card .restaurants__global {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 8px;
    margin-right: 8px;
  }
  .restaurants .restaurants__card .restaurants__global .restaurants__img {
    width: 100%;
  }
}
/*End Desktop*/
@keyframes hide {
  0%, 80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  0%, 20% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes menu {
  0% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
