.order .order__button, .info .info__button {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 20px;
  color: white;
  padding: 10px 25px;
}

.functioning .functioning__taste, .functioning .functioning__compose, .functioning .functioning__choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f4f4;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-right: 60px;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.container--restaurants {
  background-color: #f7f4f4;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

header .header__contend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header .header__contend a {
  display: block;
}
header .header__arrow {
  position: relative;
  right: 70px;
}
header .header__arrow a {
  display: block;
}
header .header__logo {
  width: 250px;
  margin: 10px 10px;
}

footer .footer__contend {
  background-color: black;
  color: white;
  padding: 20px;
}
footer .footer__logo {
  width: 130px;
  filter: invert(100%);
  margin-top: 10px;
  margin-bottom: 10px;
}
footer .footer__nav {
  color: white;
}

.presentation .presentation__frame {
  height: 250px;
  position: relative;
}
.presentation .presentation__img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 290px;
}
.presentation .presentation__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-family: "Shrikhand", cursive;
  position: relative;
  background-color: #f7f4f4;
  width: 100%;
}

.meal {
  padding-left: 10px;
  padding-right: 10px;
}
.meal h2 {
  text-transform: uppercase;
  font-size: 20px;
}
.meal .meal__restaurant {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  padding: 10px 10px 20px 10px;
  margin-bottom: 10px;
  line-height: 0.5;
}
.meal .meal__restaurant .meal__price {
  display: flex;
  align-items: flex-end;
}
.meal .meal__restaurant .meal__check {
  position: absolute;
  visibility: hidden;
}

.info {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.info .info__location {
  background-color: #e2dede;
  padding: 10px;
}
.info .info__ico {
  padding: 30px;
  width: 10%;
}
.info .info__help {
  position: absolute;
  visibility: hidden;
}
.info .info__city {
  background-color: #e2dede;
  border: 1px solid #e2dede;
}
.info .info__presentation {
  background-color: #f7f4f4;
  padding: 10px 0px 50px 0px;
}
.info .info__title {
  font-weight: bold;
  font-size: 26px;
  padding: 0px 60px;
}
.info .info__text {
  font-size: 18px;
  margin-bottom: 30px;
  padding: 0px 20px;
}
.functioning {
  padding: 20px 30px;
}
.functioning h2 {
  font-weight: bold;
}
.functioning .functioning__number {
  color: white;
  border-radius: 20px;
  background-color: #9356DC;
  width: 22px;
  text-align: center;
  margin-left: -8px;
}
.functioning .functioning__color {
  color: grey;
}

.restaurants {
  padding: 15px;
  background-color: #f7f4f4;
}
.restaurants .restaurants__class {
  display: block;
}
.restaurants .restaurants__global {
  display: flex;
  flex-direction: column;
}
.restaurants .restaurants__img {
  position: relative;
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  display: block;
}
.restaurants .restaurants__new {
  position: absolute;
  right: 30px;
  margin-top: 10px;
  padding: 4px 6px 4px 6px;
  background-color: #99E2D0;
  color: #0e634e;
  font-weight: bold;
}
.restaurants .restaurants__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0px 15px 15px 15px;
  margin-bottom: 20px;
}
.restaurants .restaurants__body {
  line-height: 0.5;
}

.order {
  margin-top: 30px;
  padding-bottom: 30px;
}
.order .order__button {
  text-align: center;
}
.order .order__color {
  color: white;
}

/*# sourceMappingURL=main.css.map */
