%button {
    display: inline-block;
    background: linear-gradient($color-secondary,$color-primary);
    border-radius: $border-radius;
    color: white;
    padding: 10px 30px;
    box-shadow: 0px 5px 5px #d2cfcf;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        filter:opacity(70%) drop-shadow(0px 8px 8px #c1bcbc);
    }
}

%functioning {
    display: flex;
    align-content: flex-start;
    background-color: $color-quaternary;
    border-radius: $border-radius;
    margin-bottom: 20px;
    padding: 10px 10px 10px 0px;
    font-weight: bold;
    box-shadow: 0px 5px 5px #e0dddd;
    transform: scale(1);
    transition: transform 400ms;

    .functioning__number {
        color: white;
        border-radius: $border-radius;
        background-color: $color-primary;
        width: 22px;
        text-align: center;
        margin: 0px 30px 0px -8px;
    }

    .functioning__color {
        color: grey;
        margin-right: 30px;
    }
}

%functioning-hover {
   
        &:hover {
            cursor: pointer;
                transform: scale(1.01);
                background-color: #F5EDFF;
                .functioning__color {
                    color:$color-primary;
                }
        }
}

    